/**
*	Project: League for Democracy Party Website
*	Date: 30-June-2014
*	Author: Vannkorn Tepken
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: 'Hanuman', Arial;
}

p {
  font-family: 'Hanuman', Arial;
}

body {
  font-family: 'Hanuman', Arial, Verdana, Sans-serif;
  font-size: 12px;
  color: black;
}
body #wrapper {
  background: #dbe9f4;
  width: 100%;
  margin: 0 auto;
}
body #wrapper .header {
  background: url(../images/banner.jpg) no-repeat center top;
}
body #wrapper .header .container {
  width: 1201px;
  margin: 0 auto;
}
body #wrapper .header .container .header-top {
  position: relative;
  height: 146px;
}
body #wrapper .header .container .header-top .logo {
  display: block;
  text-indent: -9999px;
  background: url(../images/logo.png) no-repeat left top;
  width: 114px;
  height: 114px;
  position: absolute;
  left: 50%;
  margin-left: -565px;
  top: 17px;
}
body #wrapper .header .container .header-top .language {
  position: absolute;
  width: 100px;
  height: 60px;
  right: 50px;
  top: 3px;
}
body #wrapper .header .container .header-top .language p {
  color: white;
  padding: 6px 0 0 10px;
}
body #wrapper .header .container .header-top .language ul {
  float: left;
  padding: 6px 0 0 15px;
}
body #wrapper .header .container .header-top .language ul li {
  width: 25px;
  float: left;
}
body #wrapper .header .container .header-top .language ul li.kh {
  padding-right: 17px;
}
body #wrapper .header .container .header-top .language ul li.kh a {
  background: url(../images/sprite.jpg) no-repeat;
  background-position: 0 -329px;
  width: 25px;
  height: 24px;
  text-indent: -9999px;
  display: block;
}
body #wrapper .header .container .header-top .language ul li.en a {
  background: url(../images/sprite.jpg) no-repeat;
  background-position: 0 -354px;
  width: 25px;
  height: 24px;
  text-indent: -9999px;
  display: block;
}
body #wrapper .header .container .header-bottom ul.menu {
  width: 100%;
  height: 50px;
  text-align: center;
}
body #wrapper .header .container .header-bottom ul.menu li {
  display: inline-block;
}
body #wrapper .header .container .header-bottom ul.menu li a {
  font-size: 18px;
  line-height: normal;
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 40px;
}
body #wrapper .header .container .header-bottom .photo-group {
  background: #dbe9f4 url(../images/shadow-bg.gif) repeat-y 0 0;
}
body #wrapper .header .container .header-bottom .photo-group img {
  margin-left: 6px;
}
body #wrapper .header .container .header-bottom .donate {
  position: relative;
  height: 60px;
  background: #dbe9f4 url(../images/shadow-bg.gif) repeat-y 0 0;
  overflow: hidden;
}
body #wrapper .header .container .header-bottom .donate a {
  display: block;
  position: absolute;
  left: 0;
  text-indent: -9999px;
  background: url(../images/sprite.jpg) no-repeat;
  background-position: 0 -254px;
  width: 148px;
  height: 42px;
  top: 8px;
  left: 30px;
}
body #wrapper .header .container .header-bottom .donate p {
  position: absolute;
  font-size: 18px;
  line-height: normal;
  color: #2e348c;
  top: 16px;
  width: 975px;
  overflow: hidden;
  left: 190px;
  height: 25px;
}
body #wrapper .header .container .header-bottom .donate p span {
  display: block;
  white-space: nowrap;
  position: absolute;
}
body #wrapper .body .container {
  width: 1201px;
  margin: 0 auto;
  background: #dbe9f4 url(../images/shadow-bg.gif) repeat-y 0 0;
}
body #wrapper .body .container .container-wrapper {
  width: 1129px;
  margin: 0 auto;
  border-top: 1px solid #2e348c;
  padding: 30px 0 0 0;
}
body #wrapper .body .container .container-wrapper .main {
  width: 829px;
  float: left;
  padding: 0 30px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper .body .container .container-wrapper .main .daily-sound {
  border: 1px solid #d4dee6;
  padding: 18px 29px 29px 126px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: white url(../images/logo-small.jpg) no-repeat;
  background-position: 29px 18px;
  margin-bottom: 30px;
  position: relative;
}
body #wrapper .body .container .container-wrapper .main .daily-sound h3 {
  color: #3498db;
  font-size: 20px;
  line-height: 30px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound p {
  color: black;
}
body #wrapper .body .container .container-wrapper .main .daily-sound p.description {
  font-size: 16px;
  line-height: 30px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound p.detail {
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid #e3ebf2;
  padding-bottom: 10px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation {
  padding-top: 14px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation > li {
  float: left;
  margin-right: 19px;
  background: url(../images/sprite.jpg) no-repeat;
  width: 162px;
  height: 28px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation > li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0 5px 0;
  text-align: center;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation > li.listen {
  background-position: 0 -225px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation > li.download {
  background-position: 0 -196px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound ul.operation > li.share {
  background: none;
}
body #wrapper .body .container .container-wrapper .main .daily-sound .jp-jplayer {
  padding-top: 15px;
}
body #wrapper .body .container .container-wrapper .main .daily-sound span.views {
  position: absolute;
  top: 28px;
  right: 30px;
  color: #8c8c8c;
  background: url(../images/sprite.jpg) no-repeat 0 -459px;
  padding: 1px 0 0 16px;
}
body #wrapper .body .container .container-wrapper .main ul.pagination {
  padding: 0 0 80px 126px;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li {
  float: left;
  margin-right: 15px;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li a {
  text-decoration: none;
  color: #3498db;
  font-size: 18px;
  line-height: 12px;
  display: block;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li a.active, body #wrapper .body .container .container-wrapper .main ul.pagination li a.first, body #wrapper .body .container .container-wrapper .main ul.pagination li a.next, body #wrapper .body .container .container-wrapper .main ul.pagination li a.last, body #wrapper .body .container .container-wrapper .main ul.pagination li a.prev {
  color: #2e348c;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li a.prev {
  background: url(../images/sprite.jpg) no-repeat 0 -313px;
  padding: 1px 0 2px 20px;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li a.next {
  background: url(../images/sprite.jpg) no-repeat 46px -297px;
  padding: 1px 20px 2px 0;
}
body #wrapper .body .container .container-wrapper .main ul.pagination li a:hover {
  text-decoration: underline;
}
body #wrapper .body .container .container-wrapper .main .section {
  background: white;
  border: 1px solid #d4dee6;
  margin-bottom: 30px;
}
body #wrapper .body .container .container-wrapper .main .section h2 {
  font-size: 34px;
  line-height: 30px;
  border-bottom: 1px solid #d4dee6;
  color: #3498db;
  padding: 20px 10px;
}
body #wrapper .body .container .container-wrapper .main .section ul li {
  background: url(../images/list-dot.gif) no-repeat 10px 18px;
  border-bottom: 1px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .main .section ul li > h3 {
  color: #2e348c;
  font-size: 18px;
  line-height: 30px;
  padding: 5px 0 5px 20px;
  position: relative;
  cursor: pointer;
}
body #wrapper .body .container .container-wrapper .main .section ul li > h3 span {
  background: url(../images/sprite.jpg) no-repeat 0 -472px;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: 15px;
}
body #wrapper .body .container .container-wrapper .main .section ul li > h3.toggled span {
  background: url(../images/sprite.jpg) no-repeat 0 -484px;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: 15px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div {
  border-top: 1px solid #d4dee6;
  padding: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body #wrapper .body .container .container-wrapper .main .section ul li div h3 {
  color: #3498db;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 1px solid #d4dee6;
  margin-bottom: 14px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div p {
  color: black;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 20px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div h4 {
  color: #3498db;
  font-size: 14px;
  line-height: 24px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation {
  padding: 25px 0 45px 0;
  border-top: 0;
  text-align: center;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation ul {
  display: inline-block;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation ul li {
  float: left;
  margin-right: 19px;
  background: url(../images/sprite.jpg) no-repeat;
  width: 162px;
  height: 28px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0 5px 0;
  text-align: center;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation ul li.listen {
  background-position: 0 -225px;
}
body #wrapper .body .container .container-wrapper .main .section ul li div .operation ul li.download {
  background-position: 0 -196px;
  margin-right: 0;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news .heading {
  color: #3498db;
  font-size: 18px;
  line-height: 31px;
  background: url(../images/list-dot.gif) no-repeat 10px 24px;
  padding: 10px 20px;
  border-bottom: 1px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news ul li {
  background: url(../images/hot-news-list.gif) no-repeat 30px 20px;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news ul li > h3 {
  font-size: 14px;
  line-height: 31px;
  color: #2e348c;
  padding-left: 40px;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news ul li div {
  padding: 14px 40px;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news ul li div p a {
  text-decoration: none;
  color: #2e348c;
}
body #wrapper .body .container .container-wrapper .main .section.hot-news ul li div p a:hover {
  text-decoration: underline;
}
body #wrapper .body .container .container-wrapper .main .section.contact h3 {
  color: #2f348d;
  font-size: 18px;
  line-height: 31px;
  padding: 10px 20px;
  border-bottom: none;
  background: url(../images/hot-news-list.gif) no-repeat 30px 20px;
}
body #wrapper .body .container .container-wrapper .main .section.contact h3 img {
  float: left;
  padding-right: 10px;
}
body #wrapper .body .container .container-wrapper .main .section.contact h3 span {
  top: 22px;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li {
  background: url(../images/hot-news-list.gif) no-repeat 30px 20px;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li span {
  color: #3498db;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li > div {
  padding: 14px;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li > div p a {
  text-decoration: none;
  color: #2e348c;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li > div p a:hover {
  text-decoration: underline;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li > div .map {
  height: 375px;
  border-top: none;
  padding: 0;
}
body #wrapper .body .container .container-wrapper .main .section.contact ul li > div .map div {
  border-top: none;
  padding: 0;
}
body #wrapper .body .container .container-wrapper .main .section.sound {
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
}
body #wrapper .body .container .container-wrapper .main .section.sound h2 {
  border-bottom: none;
  border-left: 1px solid #d4dee6;
  border-right: 1px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .main .section.sound div {
  padding: 0;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section {
  background: #f5f7fb;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li {
  margin-bottom: 30px;
  border-top: 1px solid #d4dee6;
  border-left: 1px solid #d4dee6;
  border-right: 1px solid #d4dee6;
  background-color: white;
  background-position: 10px 22px;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li h4 {
  position: relative;
  padding-left: 25px;
  color: #2f348d;
  font-size: 18px;
  line-height: 31px;
  padding: 10px 20px 10px 25px;
  border-bottom: none;
  cursor: pointer;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li h4 span {
  background: url(../images/sprite.jpg) no-repeat 0 -472px;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: 22px;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li h4.toggled span {
  background: url(../images/sprite.jpg) no-repeat 0 -484px;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: 15px;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div {
  display: block !important;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab {
  list-style: none;
  border-bottom: 1px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab li {
  float: left;
  border-right: 1px solid #d5dfe6;
  background: none;
  border-bottom: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab li a {
  padding: 5px 16px;
  display: block;
  text-decoration: none;
  color: #2e3787;
  font-size: 14px;
  line-height: 31px;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab li:last-child {
  border-right: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab li:last-child a {
  padding-right: 16px;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div ul.tab li.active a {
  background: #3498db;
  color: white;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content {
  border: none;
  display: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content > div {
  border: none;
  display: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content > div .daily-sound {
  padding: 20px 25px 0 125px;
  background-position: 29px 28px;
  border: none;
  border-bottom: 1px solid #d5dfe6;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content > div .daily-sound h3 {
  padding-left: 0;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content > div .daily-sound ul.operation li {
  border: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li > div div.tab-content > div .daily-sound:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
body #wrapper .body .container .container-wrapper .main .section.sound div ul.main-section > li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
body #wrapper .body .container .container-wrapper .right {
  width: 300px;
  float: right;
}
body #wrapper .body .container .container-wrapper .right .search-form {
  padding-bottom: 30px;
}
body #wrapper .body .container .container-wrapper .right .search-form form {
  position: relative;
  height: 39px;
}
body #wrapper .body .container .container-wrapper .right .search-form form #search {
  background: url(../images/sprite.jpg) no-repeat;
  background-position: 0 -379px;
  width: 251px;
  height: 39px;
  border: 0;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  outline: none;
}
body #wrapper .body .container .container-wrapper .right .search-form form #submit {
  background: url(../images/sprite.jpg) no-repeat;
  background-position: 0 -419px;
  width: 49px;
  height: 39px;
  position: absolute;
  right: 0;
  border: 0;
  padding: 0;
  top: 0;
  text-indent: -9999px;
  cursor: pointer;
}
body #wrapper .body .container .container-wrapper .right .block {
  margin-bottom: 30px;
  padding: 7px 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .right .block h3 {
  font-size: 24px;
  line-height: 30px;
  color: #3498db;
  border-bottom: 2px solid #d4dee6;
}
body #wrapper .body .container .container-wrapper .right .block ul {
  padding-top: 12px;
}
body #wrapper .body .container .container-wrapper .right .block ul li {
  background: url(../images/list.gif) no-repeat 0 17px;
  padding-left: 10px;
  border-bottom: 1px solid #e3ebf2;
}
body #wrapper .body .container .container-wrapper .right .block ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 36px;
  color: #2e348c;
}
body #wrapper .body .container .container-wrapper .right .block ul li a:hover {
  text-decoration: underline;
}
body #wrapper .body .container .container-wrapper .right .block ul li:last-child {
  border-bottom: none;
}
body #wrapper .body .container .container-wrapper .right .block.youtube, body #wrapper .body .container .container-wrapper .right .block.paltalk, body #wrapper .body .container .container-wrapper .right .block.facebook {
  border: 0;
  padding: 0;
}
body #wrapper .body .container .container-wrapper .right .links ul li {
  background: url(../images/sprite.jpg) no-repeat;
  width: 300px;
  height: 48px;
  margin-bottom: 13px;
}
body #wrapper .body .container .container-wrapper .right .links ul li a {
  text-decoration: none;
  text-indent: -9999px;
  display: block;
  height: 48px;
}
body #wrapper .body .container .container-wrapper .right .links ul li.ldp-share {
  background-position: 0 0;
}
body #wrapper .body .container .container-wrapper .right .links ul li.youtube {
  background-position: 0 -49px;
}
body #wrapper .body .container .container-wrapper .right .links ul li.radio {
  background-position: 0 -98px;
}
body #wrapper .body .container .container-wrapper .right .links ul li.paltalk {
  background-position: 0 -147px;
}
body #wrapper .footer {
  position: relative;
  background: #dbe9f4 url(../images/logo-bottom.jpg) no-repeat center top;
  border-bottom: 1px solid #1471c0;
  margin-bottom: 40px;
  padding-top: 39px;
}
body #wrapper .footer .logo-bottom {
  background: url(../images/logo-bottom.png) no-repeat;
  position: absolute;
  width: 68px;
  height: 65px;
  left: 50%;
  top: 0;
  margin-left: -34px;
}
body #wrapper .footer .copy {
  position: absolute;
  left: 50%;
  margin-left: -222px;
  background: white;
  bottom: -19px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #00b0ea;
  padding: 10px 20px;
}
body #wrapper .footer .wrapper {
  background: white;
  padding-top: 76px;
}
body #wrapper .footer .wrapper .container {
  width: 1129px;
  margin: 0 auto;
  padding: 27px 0 40px 0;
}
body #wrapper .footer .wrapper .container .menu {
  float: left;
}
body #wrapper .footer .wrapper .container .menu h3 {
  font-size: 20px;
  line-height: 30px;
  color: #00b0ea;
}
body #wrapper .footer .wrapper .container .menu ul li {
  background: url(../images/list.gif) no-repeat 0 14px;
  padding-left: 10px;
}
body #wrapper .footer .wrapper .container .menu ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  color: black;
}
body #wrapper .footer .wrapper .container .menu ul li a:hover {
  text-decoration: underline;
}
body #wrapper .footer .wrapper .container .menu.about {
  width: 250px;
}
body #wrapper .footer .wrapper .container .menu.news {
  width: 242px;
}
body #wrapper .footer .wrapper .container .menu.sound {
  width: 220px;
}
body #wrapper .footer .wrapper .container .menu.yuth {
  width: 243px;
}
body #wrapper .footer .wrapper .container .menu.contact {
  width: 174px;
}

/* ---------------------------- Miscillanoeus ------------------ */
.clearfix:before {
  content: "";
  line-height: 0;
  display: table;
}

.clearfix:after {
  content: "";
  line-height: 0;
  display: table;
  clear: both;
}

.scrollFix {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}
