/**
*	Project: Vannkorn.info
*	Date: 30-June-2014
*	Author: Vannkorn Tepken
*/
body {
  font-family: 'Open Sans', Sans-serif;
  font-size: 18px;
  color: black;
}
body p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  -webkit-font-smoothing: antialiased;
}
body .nav {
  float: right;
}
body .nav li a:hover {
  background-color: #e7e7e7;
}
body .main {
  margin-top: 50px;
}
body .main img.profile {
  max-width: 200px;
  display: block;
  margin: 50px auto;
}
body .main .nav-left {
  font-size: 115%;
}
body .main .nav-left ul {
  text-align: center;
}
body .main .nav-left ul li {
  display: inline-block;
}
body .main .short-description p {
  text-align: center;
  padding: 1em;
}
body .main .about {
  padding: 2em 1em;
}
body .main .about .blockquote {
  padding-bottom: 2em;
}

@media screen and (max-width: 767px) {
  .nav {
    float: none !important;
  }
}
/* ---------------------------- Miscillanoeus ------------------ */
.clearfix:before {
  content: "";
  line-height: 0;
  display: table;
}

.clearfix:after {
  content: "";
  line-height: 0;
  display: table;
  clear: both;
}

.scrollFix {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}
