/**
*	Project: Vannkorn.info
*	Date: 30-June-2014
*	Author: Vannkorn Tepken
*/
body {
  font-family: 'Open Sans', Sans-serif;
  font-size: 18px;
  color: black;
}
body p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.2em;
  -webkit-font-smoothing: antialiased;
}
body .nav {
  float: right;
}
body .nav li a:hover {
  background-color: #e7e7e7;
}
body .main {
  margin-top: 50px;
}
body .main img.profile {
  max-width: 200px;
  display: block;
  margin: 50px auto;
}
body .main .nav-left {
  font-size: 115%;
}
body .main .nav-left ul {
  text-align: center;
  padding: 0;
}
body .main .nav-left ul li {
  display: inline-block;
}
body .main .short-description p {
  text-align: center;
  padding: 1em;
}
body .main .about {
  padding: 2em 1em;
}
body .main .about blockquote {
  font-size: 1.3em;
}
body .main .portfolio {
  margin-top: 50px;
}
body .main .portfolio figure {
  position: relative;
  display: inline-block;
  z-index: 1;
  overflow: hidden;
  margin: -0.135em;
  background: transparent;
  text-align: center;
  width: 390px;
  height: 224px;
  cursor: pointer;
  margin-bottom: 5px;
  /*---------------*/
  /***** Sarah *****/
  /*---------------*/
}
body .main .portfolio figure img {
  position: relative;
  display: block;
  min-height: 100%;
  opacity: 0.8;
}
body .main .portfolio figure figcaption {
  padding: 2em;
  color: #333;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .main .portfolio figure figcaption::before, body .main .portfolio figure figcaption::after {
  pointer-events: none;
}
body .main .portfolio figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
body .main .portfolio figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;
}
body .main .portfolio figure p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}
body .main .portfolio figure.effect-sarah img {
  width: -webkit-calc(100% + 20px);
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
body .main .portfolio figure.effect-sarah:hover img {
  opacity: 0.6;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body .main .portfolio figure.effect-sarah:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body .main .portfolio figure.effect-sarah:hover h2::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body .main .portfolio figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}
body .main .portfolio figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
body .main .portfolio figure.effect-sarah h2:hover::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body .main .portfolio figure.effect-sarah p {
  padding: 1em 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

@media screen and (max-width: 767px) {
  .nav {
    float: none !important;
  }
}
/* ---------------------------- Miscillanoeus ------------------ */
.clearfix:before {
  content: "";
  line-height: 0;
  display: table;
}

.clearfix:after {
  content: "";
  line-height: 0;
  display: table;
  clear: both;
}

.scrollFix {
  line-height: 1.35;
  overflow: hidden;
  white-space: nowrap;
}
